.chegg{
    position: relative;
}

.chegg-body{
    position: absolute;
    bottom: 0;
    margin: 120px 600px 160px 120px;
    color: white;
}

.chegg-img{
    width: 100%;
    margin: 4px auto;
    /* height: 600px; */
    /* object-fit: cover; */
}

.title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 52px;
    padding: 0;
    margin: 0;
    font-weight: 700;
}

.para{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn{
    font-size: 24px;
    padding: 10px 18px;
    background-color: #ff9100;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: 600;
}


.search{
    border: 3px solid rgba(248, 177, 23, 0.7);
    text-align: left;
    margin: 15px 400px;
    padding: 10px;
    position: relative;

}

.search:hover{
    border: 3px solid #ff9100;
}

.btnSearch{
    position: absolute;
    right: 0;
    bottom: 2px;
    margin-right: 3px;
    background-color: #ff9100;
    border: none;
    padding: 6.5px 10px;
    color: white;
    font-size: 20px;
    border-radius: 3px;    
}



.textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}
